workflows/Agente - Escalação_Compliance.json
{
  "name": "Agente - Escalação/Compliance",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "64df1b75-6f04-4bba-998f-f105d3d48b41",
      "name": "Return",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        128,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.message }}",
        "options": {
          "systemMessage": "={{ $('When Executed by Another Workflow').item.json.default_prompt }}\n\n## FLUXO DE TRABALHO E AÇÕES\n\nVocê é o **Agente - Escalação/Compliance**. Responda de forma cordial que está transferindo para um atendente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -176,
        32
      ],
      "id": "ad1dd896-8fc4-485d-8b0a-f0d2d640946c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        192
      ],
      "id": "adf4d02d-c8d6-4408-b006-98cd7ab60bd7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AvFnQeMq6aXNioVd",
          "name": "OpenAI Instituto Aguiar Neri"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.lead_id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        256
      ],
      "id": "714d1646-eaa9-4651-9b09-0c23ad3fabba",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rONPTDNEAexjUpqM",
          "name": "Postgres Instituto Aguiar Neri"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        32
      ],
      "id": "83174a59-7c03-45ce-8bf7-a80614136942",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('When Executed by Another Workflow').item.json.link }}/api/v4/leads/{{ $('When Executed by Another Workflow').item.json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('When Executed by Another Workflow').item.json.authorization }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipeline_id\": {{ $('When Executed by Another Workflow').item.json.pipeline_atendimento_humano }},\n  \"status_id\": {{ $json[\"ESCALADO\"] }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        32
      ],
      "id": "7d5f755f-8564-4feb-b223-33d8e7762c15",
      "name": "Alterar Status ATENDIMENTO HUMANO",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.link }}/api/v4/leads/pipelines/{{ $('When Executed by Another Workflow').item.json.pipeline_atendimento_humano }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('When Executed by Another Workflow').item.json.authorization }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        32
      ],
      "id": "ae349590-b9b8-4f29-bf5c-e0f1e8ee930d",
      "name": "Status da pipeline",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const pipelineInfo = JSON.parse($input.first().json.data);\n\nconst statuses = pipelineInfo[\"_embedded\"][\"statuses\"];\n\nconst statusMap = {};\n\nfor (var i = 1; i < statuses.length; i++) {\n  statusMap[statuses[i].name] = statuses[i].id;\n}\n  \nreturn {\n  json: statusMap\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        32
      ],
      "id": "0965bef9-57da-4d2d-82d4-93f179ddd0fe",
      "name": "JSON Status"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Status da pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alterar Status ATENDIMENTO HUMANO": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status da pipeline": {
      "main": [
        [
          {
            "node": "JSON Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Status": {
      "main": [
        [
          {
            "node": "Alterar Status ATENDIMENTO HUMANO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86a0705f-7086-4ee7-a244-6b7794a6b0d1",
  "meta": {
    "instanceId": "94f618de022ac8dfa10f12ace294d24601c74d50c50d62f1fd99b044d05edc51"
  },
  "id": "IUvqa4J4SfLI3STu",
  "tags": []
}